<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Form</h1>
<form action="#" th:action="@{/create-user}" th:object="${user}" method="post">
    <p>First Name: <input type="text" th:field="*{firstName}" /></p>
    <p>Last Name: <input type="text" th:field="*{lastName}" /></p>
    <p>Patronymic: <input type="text" th:field="*{patronymic}" /></p>
    <p>Age: <input type="text" th:field="*{age}" /></p>
    <p>Salary: <input type="text" th:field="*{salary}" /></p>
    <p>Email: <input type="text" th:field="*{email}" /></p>
    <p>Position: <input type="text" th:field="*{position}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    <p><a href="/send-file">Send file with user information</a></p>
    <p><a href="/find-by-name">Find user information by name</a></p>

</form>
</body>
</html>